:root {
    --tamanho-header: 60px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 65px;
    --primary-color: #04251F;
    --secondary-color: #d1e7d6;
    --secondary-text-color: #ffffff;
    --tertiary-text-color: #B9B9B9;
    --ligth-background-color: #ffffff;
    --ligth-black-color: #0f0f0f;

}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 26px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

span {
    line-height: 1.3;
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-weight: 600;
}

textarea{
    height: 150px;
    resize: none; 
}

section{
    padding: 24px 0;
}

.margin-auto {
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.primary_button {
    border-radius: 8px;
    border: solid 2px #ffffff;
    color: var(--secondary-text-color);
    background-color: transparent;
    width: 70%;
    padding: 13px 23px;
    text-align: center;
}

.secondary_button {
    text-align: center;
    border-radius: 8px;
    background-color: var(--primary-color);
    width: 70%;
    padding: 13px 23px;
    font-weight: 700;
    color: var(--secondary-text-color);
}

.button_cadastrar a {
    color: var(--primary-color) !important;
}

.buttons {
    display: flex;
    gap: 24px;
    width: 100%;
    margin-top: 60px;
    justify-content: center;
}

.button_login {
    border-radius: 8px;
    border: solid 2px #ffffff;
    color: var(--secondary-text-color);
    background-color: transparent;
    width: 30%;
    padding: 8px 23px;
    text-align: center;
}

.button_cadastrar {
    text-align: center;
    border-radius: 8px;
    background-color: var(--secondary-text-color);
    width: 30%;
    padding: 4px 23px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h2 {
    color: var(--primary-color);
}

body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.header {
    height: var(--tamanho-header);
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
}

header .container {
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    display: none;
}

/* Menu mobile */
.header {
    /* background-color: #111; */
    padding: 8px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-text-color);
}

.menu-btn {
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: 30px;
    cursor: pointer;
    font-weight: 900;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 250%;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: left 0.3s ease;
    /* Transição suave */

}

.sidebar li a {
    font-weight: 300;
    color: #E1E1E1;
}

.sidebar.active {
    left: 0;
}

.sidebar .close-btn {
    position: absolute;
    top: 30px;
    right: 24px;
    background: none;
    border: none;
    color: var(--secondary-text-color);
    font-size: 24px;
    cursor: pointer;
}

.navbar {
    list-style: none;
    padding: 0;
    width: 100%;
    z-index: 10;
}

.navbar li {
    border-bottom: solid 1px grey;
    display: flex;
    width: 100%;
    padding: 10px;
}

img.logo_navbar {
    width: 45%;
    margin: 0 auto;
    padding: 30px 0;
}

.navbar a {
    color: var(--secondary-text-color);
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background 0.3s;
}

/* banner */

.banner .container .banner_mensagem {
    position: absolute;
    color: var(--secondary-text-color);
    text-align: center;
    align-items: center;
    padding: 24px;
    font-size: 16px;
    gap: 32px;
}

.banner .container .banner_mensagem span {
    width: 100%;
    line-height: 1.5;
    font-weight: 300;
}

.banner .container .banner_mensagem .titulo {
    font-size: 32px;
    width: 100%;
    line-height: 1.3;
}

.banner .container .banner_img {
    height: 465px;
    background-image: url('../assets/imgs/fundo.png');
    background-size: cover;
    background-position: 30% 10%;
    width: 100%;
    filter: brightness(0.7);
}

/* Sessão apresentação */

section .content {
    gap: 24px;
}

.beneficios {
    list-style-type: disc;
    padding-left: 20px;
}

.beneficios li {
    font-size: 16px;
    color: var(--ligth-black-color);
    line-height: 1.5;
}

.image-container {
    display: inline-block;
    position: relative;
    padding: 10px;
}

.image-container img {
    width: 100%;
    display: block;
    border-radius: 8px;
}

.image-container-desktop {
    display: none;
}

.image-container-q {
    display: none;
}

.border-3d::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 20px;
    right: -1px;
    bottom: 17px;
    border: 3px solid #1d4128;
    border-radius: 12px;
}

.container-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    line-height: 1.2;
}

.about_us {
    background-color: var(--ligth-background-color);
}

.about_us .content .image-container {
    padding: 0;
}

.solution {
    background-color: var(--primary-color);
}

.solution .container-text {
    color: var(--secondary-text-color);
}

.solution .content h2 {
    text-align: center;
    line-height: 1.3;
    font-size: 25px;
}

.solution .content h2,
.solution .container-text .beneficios li {
    color: var(--secondary-text-color);
    list-style: none;
}

.solution .container-text {
    gap: 8px;
}

.container_icon_solution {
    background-color: var(--ligth-background-color);
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.container_icon_solution img {
    width: 25px;
    height: 25px;
}

.icon_growth {
    width: 130px;
}

.solucoes {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.solucoes li {
    display: flex;
    gap: 16px;
    flex-direction: row-reverse;
    align-items: center;
}


.contact_us {
    background-color: var(--secondary-color);
    /* width: 100%; */
}

.form_contact {
    width: 100%;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.form-group {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group input,
textarea {
    padding: 12px 10px;
    border-radius: 8px;
    border: none;
}


footer {
    background-color: var(--ligth-black-color);
    color: var(--secondary-text-color);
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 24px 24px 62px;
}

img.logo_footer {
    width: 45%;
    margin: 0 auto;
}

footer li {
    color: var(--tertiary-text-color);
    font-weight: 300;
}

footer h4 {
    font-weight: 600;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.logo_inicial {
    width: 40%;
}

#navbar {
    display: none;
}

.te {
    display: none;
}

@media only screen and (min-width: 992px) {
    #menuButton, #sidebar {
        display: none;
    }

    #navbar {
    display: flex;
    padding: 40px;
    }

    #navbar li a {
        color: var(--primary-color);
        padding: 25px 0px 0px 0px;
    }

    .logo_inicial {
        width: 10%;
    }

    .buttons {
        display: flex;
        gap: 14px;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
        height: 50px;
    }
    
    .button_login {
        border-radius: 8px;
        border: solid 2px #04251F;
        color: #04251F;
        background-color: transparent;
        width: 25%;
        height: 70%;
        padding: 3px 20px 0px 20px;
        text-align: center;
    }

    .button_login a {
        color: #04251F;
    }
    
    .button_cadastrar {
        background-color: var(--primary-color);
        text-align: center;
        border-radius: 8px;
        border: solid 2px #ffffff;
        width: 35%;
        height: 70%;
        padding: 3px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .button_cadastrar a {
        color: #ffffff !important;
    }

    .banner .container .banner_mensagem .titulo {
        font-size: 42px;
        margin-right: 30px;
        margin-left: -400px;
        width: 50%;
        line-height: 1.3;
    }

    .banner .container .banner_mensagem span {
        width: 30%;
        margin-right: 350px;
        margin-left: -100px;
        line-height: 1.5;
    }

    .primary_button {
        border-radius: 8px;
        margin-right: 350px;
        margin-left: -100px;
        border: solid 2px #ffffff;
        color: var(--secondary-text-color);
        background-color: transparent;
        width: 15%;
        padding: 13px 23px;
        text-align: center;
    }

    section .content {
        gap: 24px;
        margin-left: 130px;
    }

    span {
        line-height: 1.3;
        width: 45%;
        margin-top: 15px;
    }

    h2 {
        margin-top: 2%;
        font-size: 28px;
        font-weight: 600;
    }

    .secondary_button {
        text-align: center;
        margin-left: 40px;
        margin-top: -12px;
        border-radius: 8px;
        background-color: var(--primary-color);
        width: 27%;
        padding: 13px 23px;
        font-weight: 700;
        color: var(--secondary-text-color);
    }

    .image-container-desktop {
        display: inline-block;
        position: relative;
        padding: 10px;
        margin-top: -28%;
        margin-right: 10%;
    }
    
    .image-container-desktop img {
        width: 35%;
        display: block;
        border-radius: 8px;
        margin-left: 60%;
    }

    .image-container {
        display: inline-block;
        position: relative;
        padding: 10px;
    }
    
    .image-container img {
        width: 500px;
        display: block;
        border-radius: 8px;
        margin-right: 650px;
    }

    .border-3dd::before {
        content: "";
        width: 35%;
        position: absolute;
        top: 0px;
        left: 619px;
        right: -1px;
        bottom: 17px;
        border: 3px solid #1d4128;
        border-radius: 12px;
    }

    .border-3d::before {
        content: "";
        width: 500px;
        position: absolute;
        top: 0px;
        left: 17px;
        right: -1px;
        bottom: 17px;
        border: 3px solid #1d4128;
        border-radius: 12px;
    }

    .of{
        line-height: 1.3;
        width: 80%;
    }

    .container-texto {
        display: flex;
        flex-direction: column;
        gap: 24px;
        line-height: 1.2;
        margin-left: 50%;
        margin-top: -25%;
    }

    .image-container-q {
        display: inline-block;
        position: relative;
        padding: 10px;
        width: 35%;
        margin-left: 55%;
        margin-top: -20%;
    }

    .solution .content h2 {
        text-align: center;
        line-height: 1.3;
        font-size: 25px;
        margin-right:  15%;
    }

    .solucoes li {
        display: flex;
        margin-left: 50px;
        margin-right: 10px;
        gap: 10px;
        flex-direction: row-reverse;
        align-items: center;
    }

    .container_icon_solution {
        background-color: var(--ligth-background-color);
        width: 100px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
    }
    
    .container_icon_solution img {
        width: 25px;
        height: 25px;
    }

    h3 {
        font-size: 20px;
        font-weight: 600;
        margin-left: -2%;
    }

    .contact_us {
        background-color: #1F473E;
        /* width: 100%; */
    }

    .form_contact {
        background-color: var(--secondary-color);
        width: 25%;
        border-radius: 18px;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }

    .form-group {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    .form-group input,
    textarea {
        padding: 12px 50px;
        border-radius: 8px;
        border: none;
    }

    .te {
        display: flex;
        line-height: 1.3;
        font-size: 18px;
        width: 32%;
        margin-bottom: 8%;
        margin-left: 18%;
        color: #d1e7d6;
    }

    img.logo_footer {
        width: 10%;
        margin: 0 auto;
    }

    .pagina {
        margin-left: 15%;
    }

    .contato {
        margin-left: 46%;
        margin-top: -17%;
        margin-bottom: 5%;
    }

    .informacoes {
        margin-top: -17%;
        margin-left: 70%;
        margin-bottom: 5%;
    }

    .solucoes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 470px;
        gap: 10px;
    }


}
